<head>
<meta charset="utf-8">
@section title {
<title>AdPosting System  - Login</title>
}
<link rel="stylesheet" href="/Content/style.css" />
</head>
@section body{
    <div class="container">
<h2>No such Admin Exist</h2>
</div>
    }
