<!doctype html>

    <head>
        <meta charset="utf-8">
        @section title{
        <title>AdPosting System - Thank You</title>
    	}
        <link rel="stylesheet" href="/Content/style.css" />
        
    </head>
    @section body{
        <h2>You have successfully signed in</h2>
        }
    